In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('LA/1. Weather_Data.csv')

In [9]:
df

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [10]:
# From the dataset using pandas and numpy,list the top 10 rows,last 10 rows 
first_10_rows = df.iloc[:10]
print(first_10_rows)

       Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0  1/1/2012 0:00    -1.8              -3.9         86                4
1  1/1/2012 1:00    -1.8              -3.7         87                4
2  1/1/2012 2:00    -1.8              -3.4         89                7
3  1/1/2012 3:00    -1.5              -3.2         88                6
4  1/1/2012 4:00    -1.5              -3.3         88                7
5  1/1/2012 5:00    -1.4              -3.3         87                9
6  1/1/2012 6:00    -1.5              -3.1         89                7
7  1/1/2012 7:00    -1.4              -3.6         85                7
8  1/1/2012 8:00    -1.4              -3.6         85                9
9  1/1/2012 9:00    -1.3              -3.1         88               15

   Visibility_km  Press_kPa               Weather
0            8.0     101.24                   Fog
1            8.0     101.24                   Fog
2            4.0     101.26  Freezing Drizzle,Fog
3            4.0     101.27  Freezing Drizzle,Fog
4            4.8     101.23                   Fog
5            6.4     101.27                   Fog
6            6.4     101.29                   Fog
7            8.0     101.26                   Fog
8            8.0     101.23                   Fog
9            4.0     101.20                   Fog

In [11]:
# using query 
first_10_rows = df.query('index > 10')
print(first_10_rows)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
11      1/1/2012 11:00    -0.5              -2.1         89                7
12      1/1/2012 12:00    -0.2              -2.0         88                9
13      1/1/2012 13:00     0.2              -1.7         87               13
14      1/1/2012 14:00     0.8              -1.1         87               20
15      1/1/2012 15:00     1.8              -0.4         85               22
...                ...     ...               ...        ...              ...
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa Weather
11              4.0     100.98     Fog
12              4.8     100.79     Fog
13              4.8     100.58     Fog
14              4.8     100.31     Fog
15              6.4     100.07     Fog
...             ...        ...     ...
8779            9.7     100.13    Snow
8780            9.7     100.03    Snow
8781            4.8      99.95    Snow
8782            9.7      99.91    Snow
8783           11.3      99.89    Snow

[8773 rows x 8 columns]

In [12]:
last_10_rows = df.iloc[-10:]
print(last_10_rows)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
8774  12/31/2012 14:00    -3.4              -5.7         84                6
8775  12/31/2012 15:00    -2.3              -4.6         84                9
8776  12/31/2012 16:00    -1.4              -4.0         82               13
8777  12/31/2012 17:00    -1.1              -3.3         85               19
8778  12/31/2012 18:00    -1.3              -3.1         88               17
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa Weather
8774           11.3     100.57    Snow
8775            9.7     100.47    Snow
8776           12.9     100.40    Snow
8777            9.7     100.30    Snow
8778            9.7     100.19    Snow
8779            9.7     100.13    Snow
8780            9.7     100.03    Snow
8781            4.8      99.95    Snow
8782            9.7      99.91    Snow
8783           11.3      99.89    Snow

In [13]:
# using query 
last_10_rows = df.query('index < 10')
print(last_10_rows)

       Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0  1/1/2012 0:00    -1.8              -3.9         86                4
1  1/1/2012 1:00    -1.8              -3.7         87                4
2  1/1/2012 2:00    -1.8              -3.4         89                7
3  1/1/2012 3:00    -1.5              -3.2         88                6
4  1/1/2012 4:00    -1.5              -3.3         88                7
5  1/1/2012 5:00    -1.4              -3.3         87                9
6  1/1/2012 6:00    -1.5              -3.1         89                7
7  1/1/2012 7:00    -1.4              -3.6         85                7
8  1/1/2012 8:00    -1.4              -3.6         85                9
9  1/1/2012 9:00    -1.3              -3.1         88               15

   Visibility_km  Press_kPa               Weather
0            8.0     101.24                   Fog
1            8.0     101.24                   Fog
2            4.0     101.26  Freezing Drizzle,Fog
3            4.0     101.27  Freezing Drizzle,Fog
4            4.8     101.23                   Fog
5            6.4     101.27                   Fog
6            6.4     101.29                   Fog
7            8.0     101.26                   Fog
8            8.0     101.23                   Fog
9            4.0     101.20                   Fog

In [14]:
# The total number of columns and rows in the data set
df.shape

(8784, 8)

In [47]:
# Q1:Find the records where the weather was exactly clear 
df[df['Weather'] == 'Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [22]:
# Q2:Find the number of times the windspeed was exactly 4km/h
windspeed=df[(df['Wind Speed_km/h'] ==4)]
print(windspeed['Date/Time'])
print(windspeed.shape)

0          1/1/2012 0:00
1          1/1/2012 1:00
96         1/5/2012 0:00
101        1/5/2012 5:00
146        1/7/2012 2:00
              ...
8768     12/31/2012 8:00
8769     12/31/2012 9:00
8770    12/31/2012 10:00
8772    12/31/2012 12:00
8773    12/31/2012 13:00
Name: Date/Time, Length: 474, dtype: object
(474, 8)

In [23]:
# Q3: Check if ther are any NULL values present in in the dataset
print(df.isnull().sum())

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [24]:
# Drop any row with NaN 
df.dropna()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [25]:
# Drop any column with NaN 
df.dropna(axis=1)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [64]:
# Q4:Rename the column 'Weather' to 'Weather_Conditon' 
df.rename(columns = {'Weather' : 'Weather_Condition'}, inplace=False)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [65]:
# Q5:What is the mean visibility of the dataset 
print(df['Visibility_km'].mean())

27.664446721311478

In [66]:
# Q6:Find the number of records where the wind speed is greater than 24 km/h and visibility is equal to 25km/h
windspeed=df[(df['Wind Speed_km/h'] > 24 ) & (df['Visibility_km'] == 25)]
print(windspeed['Date/Time'])
print(windspeed.shape)

23        1/1/2012 23:00
24         1/2/2012 0:00
25         1/2/2012 1:00
26         1/2/2012 2:00
27         1/2/2012 3:00
              ...
8705    12/28/2012 17:00
8753    12/30/2012 17:00
8755    12/30/2012 19:00
8759    12/30/2012 23:00
8760     12/31/2012 0:00
Name: Date/Time, Length: 308, dtype: object
(308, 8)

In [67]:
# Q7:What is the mean value of each weather condition 
weather=df['Weather'].value_counts()
# dfweather=pd.DataFrame(weather)
# dfweather = dfweather.reset_index()
# dfweather.columns=['Weather','Frequency']
df

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [68]:
# Q8:Find all instances where the weather is clear and the relative humidity is greater than 50 or visibility is above 40 
windspeed=df[(df['Press_kPa'] > 50 ) | (df['Visibility_km'] >40)]
print(windspeed['Date/Time'])
print(windspeed.shape)

0          1/1/2012 0:00
1          1/1/2012 1:00
2          1/1/2012 2:00
3          1/1/2012 3:00
4          1/1/2012 4:00
              ...
8779    12/31/2012 19:00
8780    12/31/2012 20:00
8781    12/31/2012 21:00
8782    12/31/2012 22:00
8783    12/31/2012 23:00
Name: Date/Time, Length: 8784, dtype: object
(8784, 8)

In [70]:
# Q9:Find the number of weather conditions that include snow 
snow=df[df['Weather'] == 'Snow']
snow.loc[:, ['Date/Time', 'Temp_C']]

             Date/Time  Temp_C
55       1/3/2012 7:00   -14.0
84      1/4/2012 12:00   -13.7
86      1/4/2012 14:00   -11.3
87      1/4/2012 15:00   -10.2
88      1/4/2012 16:00    -9.4
...                ...     ...
8779  12/31/2012 19:00     0.1
8780  12/31/2012 20:00     0.2
8781  12/31/2012 21:00    -0.5
8782  12/31/2012 22:00    -0.2
8783  12/31/2012 23:00     0.0

[390 rows x 2 columns]